@import "mixins";
$primary-color: #E84F3C;

.text-muted{
  color: #A3A3A3;
}
.btn-primary{
  background-color: $primary-color;
  border-color: $primary-color;
  color: #fff;
  @include hover-active{
    background-color: darken($primary-color, 15%);
    border-color: darken($primary-color, 15%);
  }
  &.disabled, &:disabled{
    background-color: $primary-color;
    border-color: $primary-color;
    opacity: .65;
  }
}
.btn-default{
  background: #DDDDDD;
  color: #fff;
  @include hover-active{
    background-color: darken(#DDDDDD, 15%);
    border-color: darken(#DDDDDD, 15%);
    color: #fff;
  }
}
.btn-white{
  background-color: #fff;
  border-color: #fff;
  color: #212121;
  @include hover-active{
    background-color: darken(#fff, 5%);
    border-color: darken(#fff, 5%);
  }
}
.btn-w220{
  min-width: 220px;
}
.btn-rounded{
  border-radius: 20px;
}
.h1, h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 29px;
  color: #212121;
  margin-top: 45px;
  margin-bottom: 10px;
}
.h2, h2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 29px;
}
.bg-primary{
  background-color: $primary-color!important;
  color: #fff;
}
.border-primary{
  border-color: $primary-color!important;
}
.text-primary{
  color: $primary-color!important;
  @at-root a#{&}{
    @include hover-active{
      color: darken($primary-color, 15%)!important;
      border-color: darken($primary-color, 15%)!important;
    }
  }
}
.dropdown-toggle.hide-arrow::before,.dropdown-toggle.hide-arrow::after,.dropdown-toggle-hide-arrow>.dropdown-toggle::before,.dropdown-toggle-hide-arrow>.dropdown-toggle::after {
  display: none !important
}
.dropdown-menu.dropdown-menu-icons{
  min-width: 20px;
  .dropdown-item{
    padding: 0.25rem 0.5rem;
  }
}
.no-wrap{
  white-space: nowrap!important;
}
@media (min-width: 1200px){
  .container {
    max-width: 960px;
  }
}
